# ========================
# Orionis
# ========================
storage/app/private/*
storage/framework/*
storage/logs/*
database/*.sqlite
docs

# ========================
# Orionis - Utilities
# ========================
release.ps1
pre-commit.ps1
push.py

# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.pyo

# ========================
# Virtual environment (uv)
# ========================
.venv/
venv/
env/

# ========================
# Distribution / packaging
# ========================
build/
dist/
*.egg-info/
.eggs/

# ========================
# uv
# ========================
uv.lock

# ========================
# IDEs
# ========================
.vscode/
.idea/
.ruff_cache/

# ========================
# GitHub
# ========================
.github/*.md

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# Logs and Cache
# ========================
*.log
*.cache