# ========================
# 💾 Python-related files
# ========================
__pycache__/
*.py[cod]
*$py.class

# ========================
# ⚙️ Virtual Environments & Dependencies
# ========================
.env
venv/
*.venv/

# ========================
# 📦 Build & Distribution
# ========================
build/
dist/
storage/
*.egg-info/
pypi.json
publisher.py

# ========================
# 🛠 IDE & Editor Configs
# ========================
.vscode/
.idea/
*.iml

# ========================
# 📂 Miscellaneous
# ========================
.DS_Store
Thumbs.db

# ========================
# 🧪 Testing & Coverage
# ========================
tests/*.sqlite
tests/*.json
tests/*.html